In [43]:
import numpy as np

In [44]:
np.array([1, 2, 3, 4])

array([1, 2, 3, 4])

In [45]:
a = np.array([1, 2, 3, 4])

In [46]:
a[0], a[1]

(np.int64(1), np.int64(2))

In [47]:
a[0:]

array([1, 2, 3, 4])

In [48]:
a[1:3]

array([2, 3])

In [49]:
a[1:-1]

array([2, 3])

In [50]:
b = np.array([0, .5, 1, 1.5, 2])
b

array([0. , 0.5, 1. , 1.5, 2. ])

In [51]:
b[[0, 2, -1]]

array([0., 1., 2.])

In [52]:
a.dtype

dtype('int64')

In [53]:
b.dtype

dtype('float64')

In [54]:
np.array([1, 2, 3, 4], dtype=np.int8)

array([1, 2, 3, 4], dtype=int8)

In [55]:
c = np.array(['a', 'b', 'c'])
c.dtype

dtype('<U1')

In [56]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6]
])

In [57]:
A.shape

(2, 3)

In [58]:
A.size

6

In [59]:
B = np.array([
    [
        [12, 11, 10],
        [9, 8, 7],
    ],
    [
        [6, 5, 4],
        [3, 2, 1]
    ]
])
B

array([[[12, 11, 10],
        [ 9,  8,  7]],

       [[ 6,  5,  4],
        [ 3,  2,  1]]])

In [60]:
B.shape

(2, 2, 3)

In [61]:
B.size

12

In [62]:
a = np.array([1, 2, 3, 4])

In [63]:
a.sum()

np.int64(10)

In [64]:
a.mean()

np.float64(2.5)

In [65]:
a.std()

np.float64(1.118033988749895)

In [66]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

In [67]:
A.sum(axis=0)

array([12, 15, 18])

In [68]:
A.sum(axis=1)

array([ 6, 15, 24])

In [69]:
a = np.arange(4)
a

array([0, 1, 2, 3])

In [70]:
a + 10

array([10, 11, 12, 13])

In [71]:
a

array([0, 1, 2, 3])

In [72]:
a+=10
a

array([10, 11, 12, 13])

In [73]:
a >= 12

array([False, False,  True,  True])

In [74]:
import pandas as pd

In [75]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [76]:
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [77]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [78]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [79]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [80]:
g7_pop.mean()

np.float64(107.30257142857144)

In [81]:
g7_pop['France':'United States'].mean()

np.float64(119.27516666666666)

In [82]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X<0

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

In [83]:
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
df=pd.read_csv('btc-market-price.csv',header=None)#pandas consider the first input as column so to avoid that header=None
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'btc-market-price.csv'

In [ ]:
df.columns=['Timestamp','Price']
df.head()

In [ ]:
df.shape

In [ ]:
df.tail(3)

In [ ]:
pd.to_datetime(df['Timestamp']).head()

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.head()

In [ ]:
df.loc[df['Timestamp'] == pd.to_datetime("2017-04-02"), 'Price'].values

In [ ]:
df.set_index('Timestamp',inplace=True)

In [ ]:
df.head()

In [ ]:
df.loc['2017-09-29']

In [ ]:
df.plot()